body {
  margin: 0;
  font-family: Arial, sans-serif;
  overflow: none;
}
.card mb-3{
  height: 100px;
  width: 150px;
  display: flex;
}
/* Mobile Styles */
@media (max-width: 768px) {
  /* Navbar mobile menu */
  .nav-links {
    display: none;
    flex-direction: column;
    background: black;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    padding: 15px 0 ;
    text-align: center; 
  }
  #menu-toggle:checked + .menu-icon + .nav-links {
    display: flex;    
  }
  .menu-icon {
    display: block;
  }

}
